<% if @current_user.id == 1 %>

  <div>
    <div>
      <h1>
        List of all questions
      </h1>
    </div>
  </div>

  <hr>

<% @list_of_questions.each do |a_question| %>
  
  
 
    <div class="row align-items-center">
      
      <div class="col-auto">
        <%= a_question.id %>
      </div>

      <div class="col-md-2 text-truncate">
        <a href="/prompts/chat/<%= a_question.prompt.id %>" class="text-decoration-none"> <%= a_question.prompt.desc %> </a>
      </div>

      <div class="col">
        <div class="col">
          <small><%= time_ago_in_words(a_question.created_at).capitalize %> ago </small>
        </div>
        
        <div class="col">
          <strong> <%= a_question.user.first_name %> <%= a_question.user.last_name %> (<%= a_question.user_id %>)</strong>: <%= a_question.feed %>
        </div>

        <div class="col">
          <strong> ChatGPT </strong>: <%= a_question.answer %>
        </div>

      </div>

    </div>


  <hr>

 
<% end %>



<% else %>

  <p class="text-center">What yu doin'?</p>
  <img class ="img-fluid" src="https://i.ibb.co/TrbgfGr/what.jpg"></img><br>

<% end %>
