<div class="card mb-3">

  <div class="card-body">

    <div class="col">
      
      <div class="col">
        <h5><%= @the_prompt.desc %></h5> 
        <p><small>Template created by <%= @the_prompt.user.first_name %> <%= @the_prompt.user.last_name %> at <%= @the_prompt.created_at.strftime(("%B %d, %Y")) %> </small></p>
      </div>

      <hr>

      <div>
            
        <form action="/insert_question" method="post">
        
          <div class="row align-items-center">

            <div class="col-md-10">
              
              <div class="row align-items-center">

                <% @the_prompt.sentences.each do |a_sentence| %>

                  <% if a_sentence.kind == "Fixed" %>
                
                    <div class="col-auto mb-1">
                      <label for="sentence<%= a_sentence.id %>_box" class="form-label"> <%= a_sentence.content %> </label>
                      <input id="sentence<%= a_sentence.id %>_box" name="query_sentence<%= a_sentence.id %>" type="hidden" class="form-control form-control-sm" value="<%= a_sentence.content %>">
                    </div>
                  
                  <% else %>

                    <div class="col-auto mb-1">
                      <input id="sentence<%= a_sentence.id %>_box" name="query_sentence<%= a_sentence.id %>" type="text" class="form-control form-control-sm">
                    </div>
                  <% end %>

                <% end %>

                <input id="prompt_id_box" name="query_prompt_id" type="hidden" value="<%= @the_prompt.id %>">

              </div>

            </div>

              <div class="col text-end">
                <button title="Ask Chat GPT" class="btn btn-success btn-sm"> <i class="bi bi-send-fill"></i> Ask ChatGPT </button>
              </div>

          </div>

        </form>

      </div>

      <hr>
      
    </div>

    <div class="col m-2 text-end">

      <% if @current_user == nil %>
        <a href="/duplicate_prompt/<%= @the_prompt.id %>" title="Duplicate first to edit if you are not the owner" class="btn btn-outline-primary btn-sm"> <i class="bi bi-back"></i> Duplicate </a>
      <% else %>

        <% if @the_prompt.likes.where({ :user_id => @current_user.id }).count >= 1 %>
          <a href="/delete_like/<%= @the_prompt.likes.where({ :user_id => @current_user.id }).at(0).id %>/<%= @the_prompt.id %>"  title="Dislike" class="btn btn-outline-primary btn-sm"> <i class="bi bi-heart-fill"></i> <%= @the_prompt.likes.count %> </a>
        <% else %>
          <a href="/insert_like/<%= @the_prompt.id %>"  title="Like" class="btn btn-outline-primary btn-sm"> <i class="bi bi-heart"></i> <%= @the_prompt.likes.count %> </a>
        <% end %>
      
        <a href="/duplicate_prompt/<%= @the_prompt.id %>" title="Duplicate first to edit if you are not the owner" class="btn btn-outline-primary btn-sm"> <i class="bi bi-back"></i> Duplicate </a>

        <% if @the_prompt.user.id == @current_user.id %>

          <a href="/prompts/<%= @the_prompt.id %>"  title="Edit" class="btn btn-outline-primary btn-sm"> <i class="bi bi-pencil"></i> Edit </a>
          <a href="/delete_prompt/<%= @the_prompt.id %>"  title="Delete" class="btn btn-outline-danger btn-sm cancel-button" onclick="confirmDelete(event, <%= @the_prompt.id %>)"> <i class="bi bi-trash3"></i> </a>
        <% else %>
        <% end%>

      <% end%>
      
    </div>

  </div>
</div>

      <% @the_prompt.questions.where({ :user_id => @current_user.id }).order({ :created_at => :desc }).each do |a_question| %>

        <div class="card mb-4" style="width: 90%;">
          <div class="card-body">
            
              <div class="col">

                <i class="bi bi-chat-dots-fill" style="color: cornflowerblue;"></i> <strong> Prompt: </strong> <%= a_question.feed %>
                <a class="btn btn-outline-secondary btn-sm mb-1 copy-button" title="Copy to clipboard" data-code="<%= a_question.feed %>"> <i class="bi bi-clipboard-check"></i> Copy </a>
                <a href="/delete_question/<%= a_question.id %>" title="Delete" class="btn btn-outline-danger btn-sm mb-1 cancel-button" onclick="confirmDelete(event, <%= a_question.id %>)"> <i class="bi bi-trash3"></i> </a>

                <br>
                
                <small class="text-muted"> <%= time_ago_in_words(a_question.created_at).capitalize %> ago </small>
                
              </div>

              
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">

              <div class="row align-items-center">

                <p> 
                  <i class="bi bi-chat-right-text-fill" style="color: green;"></i> <strong> Short answer: </strong> <%= a_question.answer %>

                  <a href="/modify_question/<%= a_question.id %>" title="Regenerate answer with ChatGPT" class="btn btn-outline-success btn-sm mb-1"> <i class="bi bi-arrow-repeat"></i> Regenerate</a> 

                  <br><br>
                  <strong> For full answers go to: </strong>

                  <a class="btn btn-outline-success btn-sm mb-1 copy-button-GPT" title="Copy to clipboard and go to ChatGPT" data-code="<%= a_question.feed %>"> <i class="bi bi-arrow-right"></i> ChatGPT </a>
                 
                  <a class="btn btn-outline-primary btn-sm mb-1 copy-button-bing" title="Copy to clipboard and go to Bing" data-code="<%= a_question.feed %>"> <i class="bi bi-arrow-right"></i> Bing </a>

                </p>

              </div>

            </li>
          </ul>

        </div>

      <% end %>

      <p class="text-center"> Other users asked <strong> <%= @the_prompt.questions.count %> </strong> questions using this prompt.</p>

      <% if @the_prompt.questions.where({ :user_id => @current_user.id }).count == 0 %>
      <p class="text-center"> You haven't asked questions using this template yet.</p>
      <% else %>
      <p class="text-center"> You asked <strong> <%= @the_prompt.questions.where({ :user_id => @current_user.id }).count %> </strong> questions using this prompt.</p>
      <% end %>

    </div>
  